<div class="page-header">
  <h1>
    Search by Neighborhood
  </h1>
  <% @neighborhoods.each do |neighborhood| %>
  <a href="/neighborhoods/<%= neighborhood %>" class="btn btn-success"><%= neighborhood %></a>
  <% end %>
</div>
